body {
    padding-bottom: 3rem;
    color: #5a5a5a;
}

.marketing .col-lg-4 {
    margin-bottom: 1.5rem;
    text-align: center;
}

.marketing h2 {
    font-weight: 400;
}

.marketing .col-lg-4 p {
    margin-right: .75rem;
    margin-left: .75rem;
}

.featurette-divider {
    margin: 5rem 0;
}

.whatsapp {
    position: fixed;
    bottom: 30px;
    right: 30px;
    z-index: 999;
}

@media (min-width: 40em) {

    .featurette-heading {
        font-size: 50px;
    }
}

@media (min-width: 62em) {

    .featurette-heading {
        margin-top: 7rem;
    }
}
